body{
  text-align: center;
  background-image: url("./images/O9Vbk.gif");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: black; */
}
/* .start-btn {
    border: 0;
    box-shadow: 0;
    background: #00F4FF;
    color: black;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 5px;
  } */

  .start-btn {
    font-size: 30px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
/* .space{
 text-align: center;
} */
.size {
  height: 390px;
  margin: 0 auto;

}
h1{
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: red;
  padding-top: 30px;
  padding-bottom: 50px;
}
h2{
  color: red;
  position: relative;

}

canvas {
  border: 2px solid red;
  background-image: url("../game/images/background.gif");
  background-position: 25% 25%;
  background-repeat: no-repeat;
  background-size: 813px 581px;
}
a {
  text-decoration: none;
  color: black;
}
p{
  font-size: 25px;
  color: red;
}
.intro{
  border: 2px solid red;
  border-style: dotted;
  width: 380px;
}
.asteroid{
  height: 70px;
  padding-top: 30px;

}
.container{
  display: flex;
  justify-content: space-around;
}
.keys{
  height: 70px;
  width: 100px;
  padding-top: 30px;
}
.intro2{
  border: 2px solid red;
  border-style: dotted;
  width: 380px;
  float: right;
}
.exit{
  color: red;
  font-size: 30px;
}
.alarm{
  height: 65px;
  width: 75px;
  padding-top: 25px;
}
#timer{
  /* border: 2px solid red; */
}
.spaceship{
  height: 400px;
  padding-bottom: 20px;
}
.ship{
  height: 80px;
  padding-top: 25px;
}
.container2{
  display: flex;
  justify-content: center;
}