body{
  text-align: center;
  background-image: url("./images/O9Vbk.gif");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: black; */
}
/* .start-btn {
    border: 0;
    box-shadow: 0;
    background: #00F4FF;
    color: black;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 5px;
  } */

  .start-btn {
    font-size: 30px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
/* .space{
 text-align: center;
} */
.size {
  height: 390px;
  margin: 0 auto;

}
h1{
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: red;
}
h2{
  color: red;
  position: relative;

}

canvas {
  border: 2px solid red;
  background-image: url("../game/images/background.gif");
  background-position: 25% 25%;
  background-repeat: no-repeat;
  background-size: 813px 581px;
}
a {
  text-decoration: none;
  color: black;
}
p{
  font-size: 20px;
  color: red;
}
.intro{
  border: 2px solid red;
  border-style: dotted;
  width: 380px;
}
.asteroid{
  height :30px;

}
.box{
  /* padding-bottom: 500px; */
}